{% extends 'entity/base.html' %}
{% block content %}
<h1><a href="/">Patients List</a></h1>
                  {% for patient in patients %}
                    <div class="post">
                            <div class="date">
                                <p><a href="{% url 'patient_appointment_list' pk=patient.pk %}">Name: {{ patient.name }}</a></p>
                                <p>Birth: {{ patient.birth }}</p>
                            </div>

                    </div>
                  {% endfor %}
{% endblock %}
